/* UTILTY */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(255, 115, 0);
    padding: 20px 0;
    height: 75px;
    
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-15{
    width: 15%;
    text-align: center;
}

.col-70{
    width: 70%;
    text-align: center;
}
.col-50{
    width: 50%;
    text-align: center;
    border: dotted white;
    height: 30px;
}

.col-33{
    width: 31% ;
    border: dotted black;
    
    height: 600px;
    margin: 60px 10px;
    
}
.container{
    max-width: 1200px;
    margin:0 auto
}
/* HEADER */

.img-logo{
    filter: invert(0%) sepia(0%) saturate(1522%) hue-rotate(221deg) brightness(88%) contrast(94%);
    
}

/* FOOTER */

footer{
    background-color: rgb(5, 5, 5);
    padding: 20px 0;
    height: 75px;
}
