/* UTILTY */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(255, 115, 0);
    padding: 20px 0;
    height: 75px;
    
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-15{
    width: 15%;
    text-align: center;
}

.col-70{
    width: 70%;
    text-align: center;
}
.col-50{
    width: 50%;
    text-align: center;
    border: dotted white;
    height: 30px;
}

.col-33{
    width: 31% ;
    height: 600px;
    margin: 50px 10px;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* HEADER */

.img-logo{
    filter: invert(0%) sepia(0%) saturate(1522%) hue-rotate(221deg) brightness(88%) contrast(94%);
}

.discount{
    position: absolute;
    left: 0;
    bottom: 25px;
    background-color: red;
    padding: 5px;
}

.heart{
    color: black;
    position: absolute;
    right: 0;
    top: 10px;
    padding: 10px;
    background-color: white;
}

.product{
    position: relative;
}

.sostenibility{
    background-color: green;
    position: absolute;
    left: 50px;
    bottom: 25px;
    color: white;
    padding: 5px;
}

/* MAIN */

.show{
    display: block;
}

.hidden{
    display: none;
}

.product > img{
    height: 600px;
    width: 372px;
    
}

.product:hover .show{
    display: none;
}

.product:hover .hidden{
    display: block;
}

.p-red{
    color: red;
}

.barra{
    text-decoration: line-through;
}
/* FOOTER */

